* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

:root {
  --primary-color: #3474e6;
  --secondary-color: #4e4b5c;
  --third-color: #9fa0ff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.section {
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}
